body {
  background: #f1f1f1;
}

.container {
  max-width: 800px;
  margin: 60px auto;
}

.App-header {
  font-family: "Give You Glory", cursive;
  text-align: center;
  line-height: 1;
}

h1 {
  font-size: 64px;
}

.wordSearchImg {
  max-width: 200px;
  text-align: center;
}
